@media screen and (max-width:600px) {
    .header-icon {
        display: block;
        margin-top: 30px;
    }

    nav ul {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 60%;
    }

    .banner-section {
        margin: 0 auto;
    }

    .banner-item>h3 {
        padding-top: 10px;
        font-size: 1rem;
        /* max-width: 170px; */
        margin: 0 auto;
        align-items: center;
    }
    

    .banner-button {
        flex-direction: column;
        height: 60%;

    }

    .btn-primary {
        padding: 10px;
        width: 150px;
        margin-left: 10px;
    }

    .tour-container {
        flex-direction: column;
    }

    .tour-img {
        width: 335px;
        margin: 0;
        padding: 0  ;
        /* margin: 0 auto; */
        /* padding: 50px; */
    }
    .Destination-img .img1{
        flex-direction: column;
        padding: 20px;
        max-width: 100%;
    }

    .Choose-title{
        flex-direction: column;
        gap: 10px;
    }
    .Choose-img3{
        width: 50%;
    }

    .place-container{
        flex-direction: column;
    }
    .newspaper-container{
        flex-direction: column;
    }
}