@media screen and (max-width:600px) {
    .header-icon {
        display: block;
        margin-top: 30px;
    }

    nav ul {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        margin: 0 auto;
        gap: 60%;
    }

    .banner-section {
        margin: 0 auto;
    }
    

    .banner-item>h3 {
        padding-top: 10px;
        font-size: 1rem;
        /* max-width: 170px; */
        margin: 0 auto;
        align-items: center;
    }
    
    .banner-item P{
        max-width: 100%;
    }
    .banner-button {
        flex-direction: column;
        height: 60%; 
     max-width: 100%;


    }

    .btn-primary {
        padding: 10px;
        max-width: 100%;
    }
    
    .tour-container {
        flex-direction: column;
    }
    .tour-description{
        max-width: 100%;
    }

    .tour-img {
         max-width: 100%;
    }
    .Destination-img .img1{
        flex-direction: column;
        padding: 20px;
        max-width: 100%;
    }
    .tour-description p {
       
        max-width: 100%;
    }
    .Choose-title{
        flex-direction: column;
        gap: 10px;
    }
    .Choose-img3,
    .Choose-img2,
    .Choose-img1{
        width: 100%;
    }
    ul li{
        width: 100%;
    }
    .choose-container .para{
        width: 100%;
        /* margin: 0 auto; */
    }
    .place-container{
        flex-direction: column;
    }
    .place-item{
        width: 100%;
    }
    .newspaper-container{
        flex-direction: column;
    }
}